 @media (max-width: $screen-xs-max) {
     // Mobile
     body {
         padding-top: 70px;
     }
     .row {
         display: block;
     } //scss for home page
     .cust-nav {
         min-height: 0;
     }
     .cust-nav .navbar-nav {
         float: none;
         text-align: center;
     }
     .pogoSlider-progressBar {
         left: 25%;
     }
     .navbar-brand {
         height: 70px;
     }
     .navbar-nav>li>.dropdown-menu {
         width: 100%;
         text-align: center !important;
     }
     .section-padding {
         padding: 50px 0;
     }
     .area-title h2 {
         font-size: 40px;
     }
     .about-content-home h3 {
         font-size: 30px;
     } //end of scss for home page
     //Start of about page
     .welcom-barner-area {
         min-height: 235px;
     }
     .about-content {
         .row {
             display: block;
         }
     }
     .padding-about {
    padding-bottom: 30px;
}
     .about-area {
         .width-small {
             width: 100%;
         }
         .width-large {
             width: 100%;
         }
     } //End of about page
     //Start of admission page
     .welcome-text h1 {
         font-size: 55px;
     }
     .quotes-main {
         width: 260px;
     }
     .admission-form h3 {
         @include margin(15px 0);
     }
     .admission-main {
         @include margin(0);
     } //End of admission page
     //Start of community page
     .timeline {
         width: 300px;
         .first-row {
             @include flex-direction(row-reverse);
         }
         .second-row {
             @include justify-content(flex-start);
         }
         .main-content {
             width: 185px;
         }
         .border-left,
         .border-right {
             border: none;
         }
     } //End of community page
     //start of employment page
     //end of employment page
     //scss for school facility //
     .team-area.section-padding {
         padding-bottom: 0px;
     }
     .member-details>h3 {
         font-size: 18px;
     } //end of school facility//
 }