<section>
    <div class="welcom-barner-area">
        <div class="page-barner-bg" data-stellar-background-ratio="0.5"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="welcome-text text-center">
                        <h1>About</h1>
                        <h3>Home / About Us</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-4 col-xs-12">
                <div class="about-content">
                    <h3>History & Legacy</h3>
                    <p>ShishuVihar School has been established by the Shree KVO Sthanakwasi Jain Mahajan Trust, The trust was
                        formed in the year 1873 and since 1917 has been running several schools. In 2017, the trust celebrated
                        its centeneary year and the ShishuVihar School was conceptualized and planned as a result of the
                        same.
                    </p>
                    <p>Since inception the trust has been responsive to the needs of the community and an international school
                        (ShishuVihar School) came into being as a result of the same.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                 <div class="about-img">
                  <img src="img/about.jpg" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-4 col-xs-12">
                <div class="about-content">
                    <h3>School Mission and Vision Statements</h3>
                    <p>Our mission is to provide a globally accepted and contextually relevant trans-disciplinary curriculum,
                        to nurture holistic development, inculcate mindfulness and enrich our inquirers to realise their
                        human potential. </p>
                    <p>Our vision is to nurture lifelong learners for a growth mindset rooted in Indian ethos, in an environment
                        of cultural diversity and mutual respect, developing them as effective change-makers for a sustainable
                        future.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                   <div class="about-img">
                  <img src="img/about.jpg" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container" id="EducationalPillars">
        <div class="row">
            <div class="col-md-8 col-sm-4 col-xs-12">
                <div class="about-content">
                    <h3>Educational Pillars</h3>
                    <p>ShishuVihar School has been established by the Shree KVO Sthanakwasi Jain Mahajan Trust, The trust was
                        formed in the year 1873 and since 1917 has been running several schools. In 2017, the trust celebrated
                        its centeneary year and the ShishuVihar School was conceptualized and planned as a result of the
                        same.
                    </p>
                    <p>Since inception the trust has been responsive to the needs of the community and an international school
                        (ShishuVihar School) came into being as a result of the same.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="about-img">
                  <img src="img/about.jpg" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container" id="SchoolGoverningBoard">
        <div class="row">
            <div class="col-md-8 col-sm-4 col-xs-12">
                <div class="about-content">
                    <h3>School Governing Board</h3>
                    <p> ADD DATA</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                   <div class="about-img">
                  <img src="img/about.jpg" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</section>