<section id="about">
    <div class="welcom-barner-area">
        <div class="page-barner-bg" data-stellar-background-ratio="0.5"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="welcome-text text-center">
                        <h1>About</h1>
                        <h3>Home / About Us</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="HistoryandLegacy">
    <div class="about-content">
        <div class="container">
            <div class="text-center">
                <h3>History & Legacy</h3>
            </div>
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="about-img">
                        <img src="img/about.jpg" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="">
                        <p>ShishuVihar School has been established by the Shree KVO Sthanakwasi Jain Mahajan Trust, The trust
                            was formed in the year 1873 and since 1917 has been running several schools. In 2017, the trust
                            celebrated its centeneary year and the ShishuVihar School was conceptualized and planned as a
                            result of the same.
                        </p>
                        <p>Since inception the trust has been responsive to the needs of the community and an international
                            school (ShishuVihar School) came into being as a result of the same.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="MissionandVission">
    <div class="about-area padding-about">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <img src="img/about.jpg" class="img-responsive">
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="about-content">
                        <h5>Mission Statements</h5>
                        <p>Our mission is to provide a globally accepted and contextually relevant trans-disciplinary curriculum,
                            to nurture holistic development, inculcate mindfulness and enrich our inquirers to realise their
                            human potential. </p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <img src="img/about.jpg" class="img-responsive">
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="about-content">
                        <h5>Vision Statements</h5>
                        <p>Our vision is to nurture lifelong learners for a growth mindset rooted in Indian ethos, in an environment
                            of cultural diversity and mutual respect, developing them as effective change-makers for a sustainable
                            future.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container" id="EducationalPillars">
        <div class="about-content text-center">
            <h3>Educational Pillars</h3>
        </div>
        <div class="row education-pillar">
            <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                <h3>International Mindedness </h3>
                <p> Celebrating diversity </p>
                <p> Learning about and respecting other people’s cultures and beliefs</p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h3>Principled </h3>
                <p> Act with integrity and honesty</p>
                <p> Standing up for oneself and others</p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                <h3>Compassion </h3>
                <p> Showing empathy and respect </p>
                <p> Taking positive action through service learning</p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h3>Responsibility</h3>
                <p> Take ownership of their own learning</p>
                <p> Being collaborative and supportive </p>
                <p> Appreciating the importance of culture, context and community</p>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                <h3>Reflective </h3>
                <p> Concerned with the processes as well as the end product of their learning</p>
                <p> Develop awareness and strategies to become a life long learner</p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                <h3>Innovative </h3>
                <p> Capable of applying knowledge and understanding to solve new and unfamiliar problems.</p>
                <p> Adaptable and flexible in approach</p>
                </div>
          
        </div>
    </div>
</section>
<section>
    <div class="container" id="SchoolGoverningBoard">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="about-content text-center">
                    <h3>School Governing Board</h3>
                    <p> ADD DATA</p>
                </div>
            </div>
        </div>
    </div>
</section>