<section>
    <div class="welcom-barner-area padding-about">
        <div class="academic-bg" data-stellar-background-ratio="0.5"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="welcome-text text-center">
                        <h1>Academic Programmes</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="acadamic-page">
        <div class="container">
            <div class="about-content">
                <div class="text-center">
                    <h3>Academic Programmes </h3>
                </div>
            </div>
            <div class="row heading-padd">
                <div class="col-md-7">
                    <h5>Early Years Curriculum</h5>
                    <p>Our early years curriculum comprises the following classes: Nursery – Junior Kindergarten – Senior Kindergarten.
                    </p>
                    <p> The Early Years Program (EYP) consists of the first years of school life (ages 3 to 5). In the EYP, we
                        aim to provide a safe and stimulating environment in which children can develop socially, emotionally,
                        creatively, physically and academically and provide a broad, balanced an relevant curriculum.</p>
                    <p> In Early Years our academic programme is based on developmentally appropriate practice with an emphasis
                        on your child’s social-emotional development and wellbeing.
                    </p>
                </div>
                <div class="col-md-5">
                    <img src="img/program/academic/1.png" alt="" class="img-responsive">
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p> We begin preparing children for structured daily routines by facilitating activities that allow for logical
                        reasoning, critical thinking and problem-solving strategies.</p>
                    <p> Activities are based around themes and topics as well as children’s interests and needs. All areas of
                        the curriculum are supported through large and small group sessions with both planned and spontaneous
                        child-initiated activities. </p>
                    <p>Through indoor and outdoor play, children become confident in their own learning, are able to take risks,
                        are effective communicators and can articulate their thoughts, feelings and ideas to others. Children
                        are exposed to phonics, reading and writing simple words.</p>
                    <p> To understand a growing range of simple mathematical concepts, children are exposed to recalling number
                        symbols, shapes and patterns.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="about-area section-bottom">
        <div class="container">
            <div class="acadamic-page heading-padd">
                <h5>Activities that our Early Years Learners would be engaged in</h5>
            </div>
            <div class="row no-margin">
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding">
                    <div class="single-facilities green-bg padding-20 text-center relative fix">
                        <div class="facilities-icon">
                            <i> <img src="img/program/academic/icon/9.png" alt="" class="img-responsive"></i>
                        </div>
                        <div class="acadamic-field">
                            <h3>Drama and Role Play</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding">
                    <div class="single-facilities pink-bg padding-20 text-center relative fix">
                        <div class="facilities-icon">
                            <i> <img src="img/program/academic/icon/2.png" alt="" class="img-responsive"></i>
                        </div>
                        <div class="acadamic-field">
                            <h3>Stories and Reading Corner</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding">
                    <div class="single-facilities yellow-bg padding-20 text-center relative fix">
                        <div class="facilities-icon">
                            <i> <img src="img/program/academic/icon/12.png" alt="" class="img-responsive"></i>
                        </div>
                        <div class="acadamic-field">
                            <h3>Counting, sorting and classifying</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding">
                    <div class="single-facilities dark-bg padding-20 text-center relative fix">
                        <div class="facilities-icon">
                            <i> <img src="img/program/academic/icon/4.png" alt="" class="img-responsive"></i>
                        </div>
                        <div class="acadamic-field">
                            <h3>Sand and Water Play</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding">
                    <div class="single-facilities blue-bg padding-20 text-center relative fix">
                        <div class="facilities-icon">
                            <i> <img src="img/program/academic/icon/13.png" alt="" class="img-responsive"></i>
                        </div>
                        <div class="acadamic-field">
                            <h3>Ball games</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding">
                    <div class="single-facilities orange-bg padding-20 text-center relative fix">
                        <div class="facilities-icon">
                            <i> <img src="img/program/academic/icon/7.png" alt="" class="img-responsive"></i>
                        </div>
                        <div class="acadamic-field">
                            <h3>Field Trips</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding">
                    <div class="single-facilities blue-bg padding-20 text-center relative fix">
                        <div class="facilities-icon">
                            <i> <img src="img/program/academic/icon/1.png" alt="" class="img-responsive"></i>
                        </div>
                        <div class="acadamic-field">
                            <h3>Outdoor play </h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding">
                    <div class="single-facilities dark-bg padding-20 text-center relative fix">
                        <div class="facilities-icon">
                            <i> <img src="img/program/academic/icon/6.png" alt="" class="img-responsive"></i>
                        </div>
                        <div class="acadamic-field">
                            <h3>Puzzles </h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding">
                    <div class="single-facilities yellow-bg padding-20 text-center relative fix">
                        <div class="facilities-icon">
                            <i> <img src="img/program/academic/icon/10.png" alt="" class="img-responsive"></i>
                        </div>
                        <div class="acadamic-field">
                            <h3>Blocks</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding">
                    <div class="single-facilities orange-bg padding-20 text-center relative fix">
                        <div class="facilities-icon">
                            <i> <img src="img/program/academic/icon/5.png" alt="" class="img-responsive"></i>
                        </div>
                        <div class="acadamic-field">
                            <h3>Rhythm & Movement</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding">
                    <div class="single-facilities blue-bg padding-20 text-center relative fix">
                        <div class="facilities-icon">
                            <i> <img src="img/program/academic/icon/3.png" alt="" class="img-responsive"></i>
                        </div>
                        <div class="acadamic-field">
                            <h3>Listening Center</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding">
                    <div class="single-facilities dark-bg padding-20 text-center relative fix">
                        <div class="facilities-icon">
                            <i> <img src="img/program/academic/icon/11.png" alt="" class="img-responsive"></i>
                        </div>
                        <div class="acadamic-field">
                            <h3>Circle Time</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding">
                    <div class="single-facilities blue-bg padding-20 text-center relative fix">
                        <div class="facilities-icon">
                            <i> <img src="img/program/academic/icon/8.png" alt="" class="img-responsive"></i>
                        </div>
                        <div class="acadamic-field">
                            <h3>Parachute Play</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="about-content text-center heading-padd">
            <h3>The Importance of Play</h3>
            <div class="quotes-main text-center">
                <h4>Play is the highest form of research</h4>
                <p class="text-right">-Albert Einstein</p>
            </div>
        </div>
        <div class="row heading-padd d-flex align-items-center">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <img src="img/program/academic/4.png" alt="" class="img-responsive">
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <p>Through play, your child will explore their immediate environment and begin to make sense of the world around
                    them. There are opportunities for indoor and outdoor learning, engagement in sensory exploration activities
                    and opportunities to develop creative and motor skills in different ways. </p>
                <p>There are role-play opportunities for children to develop their communication skills and story-times where
                    language will be continually extended. The language-rich environment provides multiple experiences for
                    each child’s verbal and non-verbal communication skills to grow.
                </p>
            </div>
        </div>
        <div class="row  heading-padd d-flex align-items-center">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="acadamic-page">
                    <h5>Primary School Curriculum</h5>
                    <p>The Primary School comprises Grades 1 to 5. In this section, we plan to offer the Cambridge Primary Curriculum.
                        A wide range of subjects including Mathematics, English, Hindi, Marathi, Science, Humanities, ICT
                        (Computers), Visual Arts, Music and Physical Education will be offered in this section.</p>
                    <p> Our children follow inquiry-based units focused on; looking after the environment; internationalism;
                        entrepreneurial understanding; and a reflection on the past. Each year children will take part in
                        a community project as we aim to prepare them for life as responsible global citizens and foster
                        the desire to contribute to their local communities.</p>
                    <p> Our school environment encourages and empowers young students to ask questions, safe to meet challenges
                        head on, and accompanied on their journey towards reaching their full potential. This is a time in
                        which to instill a love of learning that children will carry with them throughout their lives.</p>
                    <p>
                    Classes are small, taught by expert staff making personalised learning a reality. Our teaching pedagogy
                        ensures that students actively participate and engage in lessons, and develop personally as well
                        as academically. Success is celebrated, and students emerge as confident, curious and enthusiastic
                        learners.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <img src="img/program/academic/3.png" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</section>
