<section>
    <div class="welcom-barner-area">
        <div class="page-barner-bg" data-stellar-background-ratio="0.5"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="welcome-text text-center">
                        <h1>Academic Programmes</h1>
                        <h3>Home/program/Academic Programmes</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="section-padding about-area">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h5>Early Years Curriculum</h5>
                    <p>Our early years curriculum comprises the following classes: Nursery – Junior Kindergarten – Senior Kindergarten.
                    </p>
                    <p> The Early Years Program (EYP) consists of the first years of school life (ages 3 to 5). In the EYP, we
                        aim to provide a safe and stimulating environment in which children can develop socially, emotionally,
                        creatively, physically and academically and provide a broad, balanced an relevant curriculum.</p>
                    <p> In Early Years our academic programme is based on developmentally appropriate practice with an emphasis
                        on your child’s social-emotional development and wellbeing.
                    </p>
                    <p> We begin preparing children for structured daily routines by facilitating activities that allow for logical
                        reasoning, critical thinking and problem-solving strategies. Activities are based around themes and
                        topics as well as children’s interests and needs. All areas of the curriculum are supported through
                        large and small group sessions with both planned and spontaneous child-initiated activities. Through
                        indoor and outdoor play, children become confident in their own learning, are able to take risks,
                        are effective communicators and can articulate their thoughts, feelings and ideas to others. Children
                        are exposed to phonics, reading and writing simple words. To understand a growing range of simple
                        mathematical concepts, children are exposed to recalling number symbols, shapes and patterns.
                    </p>
                </div>
                <div class="col-md-5">
                </div>
            </div>
            <div class="row no-margin">
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding">
                    <div class="single-facilities green-bg padding-20 text-center relative fix">
                        <div class="facilities-icon">
                            <i class="icofont icofont-fast-food"></i>
                        </div>
                        <div class="facilities-details">
                            <h3>Custom Food</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip vut labore et dolore</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding">
                    <div class="single-facilities pink-bg padding-20 text-center relative fix">
                        <div class="facilities-icon">
                            <i class="icofont icofont-music-notes"></i>
                        </div>
                        <div class="facilities-details">
                            <h3>Music Lesson</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip vut labore et dolore</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding">
                    <div class="single-facilities yellow-bg padding-20 text-center relative fix">
                        <div class="facilities-icon">
                            <i class="icofont icofont-volleyball-alt"></i>
                        </div>
                        <div class="facilities-details">
                            <h3>Many Sports</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip vut labore et dolore</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding">
                    <div class="single-facilities dark-bg padding-20 text-center relative fix">
                        <div class="facilities-icon">
                            <i class="icofont icofont-school-bus"></i>
                        </div>
                        <div class="facilities-details">
                            <h3>Bus Service</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip vut labore et dolore</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding">
                    <div class="single-facilities blue-bg padding-20 text-center relative fix">
                        <div class="facilities-icon">
                            <i class="icofont icofont-island-alt"></i>
                        </div>
                        <div class="facilities-details">
                            <h3>Excursions</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip vut labore et dolore</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding">
                    <div class="single-facilities orange-bg padding-20 text-center relative fix">
                        <div class="facilities-icon">
                            <i class="icofont icofont-globe"></i>
                        </div>
                        <div class="facilities-details">
                            <h3>Language</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip vut labore et dolore</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>