<section>
    <div class="welcom-barner-area padding-about">
        <div class="page-barner-bg" data-stellar-background-ratio="0.5"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="welcome-text text-center">
                        <!--<h1>Our Community</h1>
                        <h3>Home / Our Community</h3>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="admission-top">
            <h3 class="pink-color">Admissions Overview</h3>
            <p>We welcome families to the exceptional learning environment our school has to offer. Our aim is to provide every
                prospective family with the information and support they require to make the right educational decision.
                To find out more about the school, please contact us on admissions@shishuviharindia.com
            </p>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h3 class="pink-color">Admission Inquiry Form</h3>
        <ul>
            <li>Kindly register your interest by filling in the online inquiry form given below. </li>
            <li>In case we have a vacancy in the grade you are seeking admission to, our admissions associates will connect with
                you.
            </li>
        </ul>
    </div>
</section>
<section>
    <div class="container">
          <div class="Admission-start">
         <form>
        <div class="admission-form">
            <div class="text-center about-content">
                <h2>We thank you for your interest in ShishuVihar School</h2>
            </div>
            <h3 class="pink-color">Personal Information of the child</h3>
            <div class="admission-main pink-border">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="first-name">First name:</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="middle-name">Middle Name:</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="family-name">Family Name:</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <label for="email">Gender</label>
                            </div>
                            <div class="inline-div gender-div">
                                <input type="radio" id="test6" name="radio-group" checked>
                                <label for="test6">Boy</label>
                            </div>
                            <div class="inline-div gender-div">
                                <input type="radio" id="test7" name="radio-group">
                                <label for="test7">Girl</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="comment">Address:</label>
                                <textarea class="form-control" rows="5" id="Address"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Aadhaar-no">Student Aadhaar Card No:</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="DOB">Date of Birth:</label>
                                <div class="">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="input-group">
                                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions"
                                                    ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                                                />
                                                <span class="input-group-btn calender-border">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
          </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nationality">Nationality:</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Grade">Grade Applying to:</label>
                                <select class="form-control" id="sel1">
                                <option>Nursery</option>
                                <option>Junior Kg</option>
                                <option>Senior Kg</option>
                                <option>Grade 1</option>
                                </select>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="admission-form">
            <div class="">
                <div class="inline-div">
                    <h3 class="green-color">Current School</h3>
                </div>
                <!--<div class="inline-div pull-right">
                    <h3>
                        <button class="btn btn-open" ng-click="openDiv();">open/close</button>
                    </h3>
                </div>-->
            </div>
            <div class="admission-main green-border">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name of the School">Name of the School:</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="">
                            <label for="Name of the School">Board studying in:</label>
                        </div>
                        <div class="inline-div">
                            <input type="radio" id="test1" name="radio-group" checked>
                            <label for="test1">SSC</label>
                        </div>
                        <div class="inline-div">
                            <input type="radio" id="test2" name="radio-group">
                            <label for="test2">ICSE</label>
                        </div>
                        <div class="inline-div">
                            <input type="radio" id="test3" name="radio-group">
                            <label for="test3">CBSE</label>
                        </div>
                        <div class="inline-div">
                            <input type="radio" id="test4" name="radio-group">
                            <label for="test4">IB</label>
                        </div>
                        <div class="inline-div">
                            <input type="radio" id="test5" name="radio-group">
                            <label for="test5">Cambridge</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="comment">Address:</label>
                            <textarea class="form-control" rows="5" id="Address"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="admission-form">
                <h3 class="blue-color">Parent Information </h3>
                <div class="admission-main blue-border">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Name of Parent:</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="contact">Contact No:</label>
                                <input type="number" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Email Id:</label>
                                <input type="email" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="submit-btn text-center admission-top">
            <button class="btn submit-btn blue-border">submit</button>
        </div>
        </form>
         </div>
</section>
<section>
    <div class="container">
        <div class="admission-top">
            <h3 class="pink-color">School Timings</h3>
            <div class="admission-main">
                <p>Nursery, Junior Kg, Senior Kg - 8.30 a.m. to 12.45 p.m.</p>
                <p>Grade 1 - 8.30 a.m. to 3.00 p.m.
                </p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="admission-top">
            <h3 class="pink-color">Admission Office Hours</h3>
            <div class="admission-main">
                <p>Monday to Friday: 9.30 a.m. to 5.30 p.m.</p>
                <p>Saturday: 8.30 a.m. to 12.30 p.m.
                </p>
            </div>
        </div>
    </div>
</section>