<section>
    <div class="container">
        <div class="admission-form">
            <h3 class="pink-color">personal information</h3>
            <div class="admission-main pink-border">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">First name:</label>
                                <input type="email" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Middle Name:</label>
                                <input type="email" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Family Name:</label>
                                <input type="email" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div >
                           <label for="email">Gender</label>
                            </div>
                            <div class="inline-div gender-div">
                                <input type="radio" id="test6" name="radio-group" checked>
                                <label for="test6">Boy</label>
                            </div>
                            <div class="inline-div gender-div">
                                <input type="radio" id="test7" name="radio-group">
                                <label for="test7">Girl</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="comment">Address:</label>
                                <textarea class="form-control" rows="5" id="Address"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Student Aadhaar Card No:</label>
                                <input type="email" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Date of Birth:</label>
                                <input type="email" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Nationality:</label>
                                <input type="email" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Grade Applying to:</label>
                                <select class="form-control" id="sel1">
                                <option>Nursery</option>
                                <option>Junior Kg</option>
                                <option>Senior Kg</option>
                                <option>Grade 1</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="admission-form">
            <h3 class="green-color">Current School</h3>
            <div class="admission-main green-border">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name of the School">Name of the School:</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="">
                                <label for="Name of the School">Board studying in:</label>
                            </div>
                            <div class="inline-div">
                                <input type="radio" id="test1" name="radio-group" checked>
                                <label for="test1">SSC</label>
                            </div>
                            <div class="inline-div">
                                <input type="radio" id="test2" name="radio-group">
                                <label for="test2">ICSE</label>
                            </div>
                            <div class="inline-div">
                                <input type="radio" id="test3" name="radio-group">
                                <label for="test3">CBSE</label>
                            </div>
                             <div class="inline-div">
                                <input type="radio" id="test4" name="radio-group">
                                <label for="test4">IB</label>
                            </div>
                              <div class="inline-div">
                                <input type="radio" id="test5" name="radio-group">
                                <label for="test5">Cambridge</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="comment">Address:</label>
                                <textarea class="form-control" rows="5" id="Address"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="admission-form">
            <h3 class="blue-color">Parent Information </h3>
            <div class="admission-main blue-border">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Name of Parent:</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Contact No:</label>
                                <input type="number" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Email Id:</label>
                                <input type="email" class="form-control">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>