<section>
    <div class="welcom-barner-area padding-about">
        <div class="page-barner-bg" data-stellar-background-ratio="0.5"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="welcome-text text-center">
                        <h1>Co-curricular Program</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="acadamic-page about-area section-bottom">
        <div class="container">
            <div class="about-content">
                <div class="text-center">
                    <h3>Co-curricular Program</h3>
                </div>
            </div>
            <div class="row heading-padd">
                <div class="col-md-7">
                    <p>The school offers a rich and varied programme of activities beyond the curriculum. This is an integral
                        part of every pupil’s learning experience. Just as we celebrate the academic success of our pupils,
                        so too we encourage active participation in the school’s co-curricular programme.</p>
                    <p>Sport is an integral part of school life from and reflects the holistic education that the school offers.</p>
                        <p>Students from Nursery to Grade 5 would participate in a myriad of physical activities during each
                        week.</p><p> At ShishuVihar School, you will find an environment designed to motivate students of all ages
                        to improve their physical and mental wellbeing, and boost self-confidence.</p><p> Our approach offers both
                        team and individual sports which fine-tune athletic dexterity and empower students to triumph over
                        new challenges.
                    </p>
                </div>
                <div class="col-md-5">
                    <img src="img/about.jpg" alt="" class="img-responsive">
                </div>
            </div>
            
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="about-content text-center">
            <!--<h3>The Importance of Play</h3>-->
            <div class="quotes-main text-center">
                <h4>Art is not what you see, but what you make others see.</h4>
                <p class="text-right">-Edgar Degas</p>
            </div>
        </div>
        <div class="row heading-padd">
            <div class="acadamic-page">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <img src="img/about.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <h5>The Arts</h5>
                    <p>The school offers a wide ambit of art programmes – from visual art to music to dramatics. Through the
                        arts we actively stimulate innovative thinking and problem-solving skills that enrich personal growth.
                        We also give students a foundation in creative expression that will allow them to take full advantage
                        of new learning opportunities, and showcase their ability.
                    </p>
                </div>
            </div>
        </div>
        <div class="row heading-padd">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="acadamic-page">
                    <h5>STEM</h5>
                    <p>Teaching STEM in the early and primary years opens the door for our students to become tomorrow’s movers
                        and shakers. Young children with a strong foundation in science, technology, engineering and mathematics will
                        go on to play an integral role in our nation’s global competitiveness and economic stability. Teachers
                        can foster critical thinking through problem solving in elementary & primary STEM education and provide
                        students with an academic edge over the competition.</p>
                    <p>At ShishuVihar School all our students shall participate in STEM education equivalent to one teaching
                        period per week. Classes will utilise different areas within the school for this purpose.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <img src="img/about.jpg" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</section>