<section >
    <div class="welcom-barner-area padding-about">
        <div class="page-barner-bg" data-stellar-background-ratio="0.5"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="welcome-text text-center">
                        <h1>Our Community</h1>
                        <h3>Home / Our Community</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section  id="Initiatives">
    <div class="acadamic-page about-area section-bottom">
        <div class="container">
            <div class="about-content">
                <div class="text-center">
                    <h3>Initiatives of the KVOSJM Trust </h3>
                </div>
            </div>
            <div class="timeline d-flex">
                <div class="first-row d-flex">
                    <div class="left-text border-right">
                        <div class="main-content d-flex green-bg">
                          The Shree KVO Sthanakwasi Jain Mahajan Trust made their foray into school education by opening their first school 
                        </div>
                    </div>
                    <div class="right-text d-flex">
                     <h3 class="no-margin green-color"> 1917</h3>
                    </div>
                </div>
                <div class="second-row d-flex">
                    <div class="right-text d-flex">
                       <h3 class="no-margin pink-color">1933</h3>
                    </div>
                      <div class="left-text border-left ">
                        <div class="main-content d-flex pink-bg">
                       a girls school was opened keeping in mind its long standing aim of women empowerment in mind.
                        </div>
                    </div>
                </div>
                 <div class="first-row d-flex">
                    <div class="left-text border-right">
                        <div class="main-content d-flex yellow-bg">
                         Keeping the changing needs of society in mind, the trust setup a Primary Co-educational day school
                        </div>
                    </div>
                    <div class="right-text d-flex">
                      <h3 class="no-margin yellow-color">1962</h3>
                    </div>
                </div>
                <div class="second-row d-flex">
                    <div class="right-text d-flex">
                       <h3 class="no-margin blue-color">1975</h3>
                    </div>
                      <div class="left-text border-left">
                        <div class="main-content d-flex blue-bg">
                        a Junior College was set up 
                        </div>
                    </div>
                </div>
                   <div class="first-row d-flex">
                    <div class="left-text border-right ">
                        <div class="main-content d-flex orange-bg">
                           English medium school was set up
                        </div>
                    </div>
                    <div class="right-text d-flex">
                      <h3 class="no-margin orange-color">1987</h3>
                    </div>
                </div>
                <div class="second-row d-flex">
                    <div class="right-text d-flex">
                       <h3 class="no-margin purple-color">2017</h3>
                    </div>
                      <div class="left-text border-left ">
                        <div class="main-content d-flex purple-bg">
                       the trust celebrated its centeneary year and the ShishuVihar School was conceptualized and planned as a result of the same.
                        </div>
                    </div>
                </div>
            </div>
        
            <!--<div class="d-flex">
                <div class="d-flex">
                    <div class="right-text">
                        is simply dummy text of
                    </div>
                    <div class="left-text">
                        <div class="main-content">
                            is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                            since the 1500s
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
</section>
<section id="Our-Traditions">
    <div class="acadamic-page">
        <div class="container">
            <div class="about-content">
                <div class="text-center">
                    <h3>Our Aspirations</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-sm-8  col-xs-12">
                    <p>The 21st century is one where the only constant is change. With disruptions being the norm in every vertical,
                        it is critical that educational institutions also change and adapt to prepare students for an uncertain
                        future. The ShishuVihar School has been planned with this broad aim in mind. Our logo captures this
                        very spirit with our tagline – Legacy of Knowledge… Roots of Virtue. We consider education to be
                        a catalyst towards developing our children into change makers who can help us as a community and
                        a nation to find solutions to our common problems.</p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <img src="img/about.jpg" alt="" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</section>