<section>
    <div class="welcom-barner-area padding-about">
        <div class="employment-bg" data-stellar-background-ratio="0.5"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="welcome-text text-center">
                        <!--<h1>Employment Opportunities</h1>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="Working">
    <div class="container">
        <div class="admission-top">
            <h3 class="pink-color">Working at ShishuVihar School </h3>
            <p>We are pleased to receive interest from qualified and experienced educators.</p>
            <p> At ShishuVihar School, we aim to recruit the very best educators and will carefully consider every application
                to identify the top candidates best suited to every teaching position.</p>
            <p> To apply for a position at ShishuVihar School, you are requested to fill in the form given below.
            </p>
        </div>
    </div>
</section>
<section id="Application">
    <div class="container">
        <div class="employment-form-start">
            <form name="employeeForm">
                <div class="admission-form">
                    <div class="text-center about-content">
                        <h2>TEACHER APPLICATION FORM</h2>
                    </div>
                    <div class="tab-one" ng-if="view=='tab-one'">
                        <h3 class="pink-color">SECTION ONE – Your Personal Details:</h3>
                        <div class="admission-main pink-border">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="first-name">First Name:<span style="font-size:13px; color:red">&#x2731;</span></label>
                                        <input type="text" class="form-control" ng-model="employeeForm.formData.name" name="name" required>
                                        <span class="errormsg" ng-show="employeeForm.name.$touched && employeeForm.name.$invalid">First Name is required.</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="middle-name">Surname:<span style="font-size:13px; color:red">&#x2731;</span></label>
                                        <input type="text" class="form-control" ng-model="employeeForm.formData.lastName" name="lastName" required>
                                        <span class="errormsg" ng-show="employeeForm.lastName.$touched && employeeForm.lastName.$invalid">Last Name is required.</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="family-name">Title:<span style="font-size:13px; color:red">&#x2731;</span></label>
                                        <input type="text" class="form-control" ng-model="employeeForm.formData.title" name="title" required>
                                        <span class="errormsg" ng-show="employeeForm.title.$touched && employeeForm.title.$invalid">Title is required.</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <label for="no">Phone No (home)</label>
                                        <input type="text" class="form-control" ng-model="employeeForm.formData.phnNo">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div>
                                        <label for="no">Phone No (mobile)<span style="font-size:13px; color:red">&#x2731;</span></label>
                                        <input type="text" class="form-control" ng-model="employeeForm.formData.mobileNo" name="mobileNo" ng-minlength="10" ng-maxlength="10"
                                            required>
                                        <span class="errormsg" ng-show="employeeForm.mobileNo.$error.minlength||employeeForm.mobileNo.$error.maxlength">Please enter a valid phone number</span>
                                        <span class="errormsg" ng-show="employeeForm.mobileNo.$touched && employeeForm.mobileNo.$invalid">Mobile No is required.</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="DOB">Date of Birth:<span style="font-size:13px; color:red">&#x2731;</span></label>
                                        <div class="">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p class="input-group">
                                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="employeeForm.formData.dob" is-open="popup1.opened"
                                                            datepicker-options="dateOptions" ng-required="true" close-text="Close"
                                                            alt-input-formats="altInputFormats" name="dob" required/>
                                                        <span class="input-group-btn calender-border">
                                                                 <button type="button" class="btn btn-default" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                                        </span>
                                                    </p>
                                                    <span class="errormsg" ng-show="employeeForm.dob.$touched && employeeForm.dob.$invalid">DOB is required.</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="comment">Address:</label>
                                        <textarea class="form-control" rows="5" id="Address" ng-model="employeeForm.formData.address"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="postcode">Postcode:</label>
                                        <input type="text" class="form-control" ng-model="employeeForm.formData.postCode">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">Email Id:<span style="font-size:13px; color:red">&#x2731;</span></label>
                                        <input type="email" class="form-control" ng-model="employeeForm.formData.emailId" name="emailId" required>
                                        <span class="errormsg" ng-show="employeeForm.emailId.$touched && employeeForm.emailId.$invalid">Email is required.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="nationality">Nationality:<span style="font-size:13px; color:red">&#x2731;</span></label>
                                        <input type="text" class="form-control" ng-model="employeeForm.formData.nationality" name="nationality" required>
                                        <span class="errormsg" ng-show="employeeForm.nationality.$touched && employeeForm.nationality.$invalid">Nationality is required.</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="DOB">Country:</label>
                                        <input type="text" class="form-control" ng-model="employeeForm.formData.country">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="admission-form">
                    <div class="tab-two" ng-if="view=='tab-two'">
                        <div class="">
                            <div class="inline-div">
                                <h3 class="green-color">SECTION TWO – Details of your PRESENT Employment: </h3>
                            </div>
                        </div>
                        <div class="admission-main green-border">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Present Job Title">Present Job Title<span style="font-size:13px; color:red">&#x2731;</span></label>
                                        <input type="text" class="form-control" ng-model="employeeForm.formData.prsentJobTiltle" name="prsentJobTiltle" required>
                                        <span class="errormsg" ng-show="employeeForm.prsentJobTiltle.$touched && employeeForm.prsentJobTiltle.$invalid">job title is required.</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="">
                                        <label for="Name of the School">Name of school / employer:</label>
                                        <input type="text" class="form-control" ng-model="employeeForm.formData.presentJobName">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="comment">Date appointed to post: <span style="font-size:13px; color:red">&#x2731;</label>
                                        <!--<input type="text" class="form-control" ng-model="employeeForm.formData.appointedDate">-->
                                        <p class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="employeeForm.formData.appointedDate"
                                                is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"
                                                alt-input-formats="altInputFormats" name="appointedDate" required/>
                                            <span class="input-group-btn green-border-cale">
                                                                 <button type="button" class="btn btn-default" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                                        </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="comment">Type of school:
                                        (International / ICSE / CBSE / SSC etc)<span style="font-size:13px; color:red">&#x2731;</span></label>
                                        <input type="text" class="form-control" ng-model="employeeForm.formData.typeOfSchool" name="typeOfSchool" , required>
                                        <span class="errormsg" ng-show="employeeForm.typeOfSchool.$touched && employeeForm.typeOfSchool.$invalid">job title is required.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="comment">Address:</label>
                                        <textarea class="form-control" rows="5" id="Address" ng-model="employeeForm.formData.jobAddress"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-6">
                                        <div>
                                            <label for="email"></label>
                                        </div>
                                        <div class="inline-div">
                                            <input type="radio" id="test6" name="radio-group" checked ng-model="employeeForm.formData.typeOfWork" value="Full Time">
                                            <label for="test6">Full Time</label>
                                        </div>
                                        <div class="inline-div">
                                            <input type="radio" id="test7" name="radio-group" ng-model="employeeForm.formData.typeOfWork" value="Part Time">
                                            <label for="test7">Part Time</label>
                                        </div>
                                        <span class="errormsg" ng-if="viewerr">Type of Work is required.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-three" ng-if="view=='tab-three'">
                        <div class="admission-form">
                            <div>
                                <h3 class="blue-color">SECTION THREE – Qualifications / Education:</h3>
                                <!--<p class="declaration">Please record all your qualifications below in chronological order starting with your most
                                    recent University Qualifications (with a mention of percentage achieved for each qualification)</p>-->
                            </div>
                            <div class="admission-main blue-border">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">University / College Details:<span style="font-size:13px; color:red">&#x2731;</span></label>
                                            <input type="text" class="form-control" ng-model="employeeForm.formData.collegeName" name="collegeName" required>
                                            <span class="errormsg" ng-show="employeeForm.collegeName.$touched && employeeForm.collegeName.$invalid">university/collegeName is required.</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="contact">Dates:<span style="font-size:13px; color:red">&#x2731;</span></label>
                                            <!--<input type="number" class="form-control" ng-model="employeeForm.formData.dateQ">-->
                                            <p class="input-group">
                                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="employeeForm.formData.dateQ" is-open="popup1.opened"
                                                    datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                                                    name="dateQ" required/>
                                                <span class="input-group-btn blue-border-cale ">
                                                                 <button type="button" class="btn btn-default" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                                        </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="qualifications">Details of qualifications achieved  and examinations passed <span style="font-size:13px; color:red">&#x2731;</span></label>
                                            <input type="text" class="form-control" ng-model="employeeForm.formData.qualification" name="qualification" required>
                                            <span class="errormsg" ng-show="employeeForm.qualification.$touched && employeeForm.qualification.$invalid">Qualification is required.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-four" ng-if="view=='tab-four'">
                        <div class="admission-form">
                            <div class="">
                                <h3 class="yellow-color">SECTION FOUR– Declaration </h3>
                                <!--<p class="declaration">
                                    I declare that all the information provided in this application is honest and truthful, to the best of my ability.class="declaration"
                                </p>-->
                            </div>
                            <div class="admission-main yellow-border">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">Applicant Name:<span style="font-size:13px; color:red">&#x2731;</span></label>
                                            <input type="text" class="form-control" ng-model="employeeForm.formData.applicantName" name="applicantName" required>
                                            <span class="errormsg" ng-show="employeeForm.applicantName.$touched && employeeForm.applicantName.$invalid">applicant Name is required.</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="contact">Date:<span style="font-size:13px; color:red">&#x2731;</span></label>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p class="input-group">
                                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="employeeForm.formData.dateApp" is-open="popup1.opened"
                                                            datepicker-options="dateOptions" ng-required="true" close-text="Close"
                                                            alt-input-formats="altInputFormats" />
                                                        <span class="input-group-btn yellow-border-cale">
                                       <button type="button" class="btn btn-default" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                            </span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-center section-padding15 no-margin" ng-if="viewerr">
                    Please fill up the form Properly
                </p>
                <div class="submit-btn text-center section-padding15" ng-if="view=='tab-four'">
                    <button class="btn yellow-border" ng-click="submitForm(employeeForm.formData)" ng-disabled="employeeForm.$invalid">Submit</button>
                </div>
            </form>
        </div>
        <div class="inline-div admission-form pull-right">
            <h3>
                <button class="btn btn-open" ng-click="Nexttab(view);" ng-disabled="view =='tab-four'">next</button>
            </h3>
        </div>
        <div class="inline-div admission-form pull-left">
            <h3>
                <button class="btn btn-open" ng-click="Previoustab(view);" ng-disabled="view =='tab-one'">previous</button>
            </h3>
        </div>
</section>