<section>
    <div class="welcom-barner-area padding-about">
        <div class="page-barner-bg" data-stellar-background-ratio="0.5"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="welcome-text text-center">
                        <h1>Employment Opportunities</h1>
                        <h3>Home /Employment Opportunities</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="admission-top">
            <h3 class="pink-color">Working at ShishuVihar School </h3>
            <p>We are pleased to receive interest from qualified and experienced educators. At ShishuVihar School, we aim to
                recruit the very best educators and will carefully consider every application to identify the top candidates
                best suited to every teaching position. To apply for a position at ShishuVihar School, you are requested
                to fill in the form given below.
            </p>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="employment-form-start">
            <form>
                <div class="admission-form">
                    <div class="text-center about-content">
                        <h2>TEACHER APPLICATION FORM</h2>
                    </div>
                    <div class="tab-one" ng-if="view=='tab-one'">
                        <h3 class="pink-color">SECTION ONE – Your Personal Details:</h3>
                        <div class="admission-main pink-border">
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="first-name">First name:</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="middle-name">Surname:</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="family-name">Title:</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <label for="no">Phone No (home)</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div>
                                            <label for="no">Phone No (mobile)</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="DOB">Date of Birth:</label>
                                            <div class="">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p class="input-group">
                                                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions"
                                                                ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                                                            />
                                                            <span class="input-group-btn calender-border">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
          </span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="comment">Address:</label>
                                            <textarea class="form-control" rows="5" id="Address"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="postcode">Postcode:</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="email">Email Id:</label>
                                            <input type="email" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="nationality">Nationality:</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="DOB">Country:</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="admission-form">
                    <div class="tab-two" ng-if="view=='tab-two'">
                        <div class="">
                            <div class="inline-div">
                                <h3 class="green-color">SECTION TWO – Details of your PRESENT Employment: </h3>
                            </div>
                        </div>
                        <div class="admission-main green-border">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Present Job Title">Present Job Title</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="">
                                        <label for="Name of the School">Name of school / employer:</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="comment">Date appointed to post:</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="comment">Type of school:
                                        (International / ICSE / CBSE / SSC etc)</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="comment">Address:</label>
                                        <textarea class="form-control" rows="5" id="Address"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-6">
                                        <div>
                                            <label for="email"></label>
                                        </div>
                                        <div class="inline-div">
                                            <input type="radio" id="test6" name="radio-group" checked>
                                            <label for="test6">Full Time</label>
                                        </div>
                                        <div class="inline-div">
                                            <input type="radio" id="test7" name="radio-group">
                                            <label for="test7">Part Time</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-three" ng-if="view=='tab-three'">
                        <div class="admission-form">
                            <div>
                                <h3 class="blue-color">SECTION THREE – Qualifications / Education:</h3>
                                <p class="declaration">Please record all your qualifications below in chronological order starting with your most
                                    recent University Qualifications (with a mention of percentage achieved for each qualification)</p>
                            </div>
                            <div class="admission-main blue-border">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">University / College Details:</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="contact">Dates:</label>
                                            <input type="number" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="qualifications">Details of qualifications achieved  and examinations passed </label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-four" ng-if="view=='tab-four'">
                        <div class="admission-form">
                            <div class="">
                                <h3 class="yellow-color">SECTION FOUR– Declaration </h3>
                                <p class="declaration">
                                    I declare that all the information provided in this application is honest and truthful, to the best of my ability.class="declaration"
                                </p>
                            </div>
                            <div class="admission-main yellow-border">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">Applicant Name:</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="contact">Date:</label>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p class="input-group">
                                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions"
                                                            ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                                                        />
                                                        <span class="input-group-btn yellow-border-cale">
                                       <button type="button" class="btn btn-default" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                            </span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="submit-btn text-center admission-top" ng-if="view=='tab-four'">
                    <button class="btn yellow-border">Submit</button>
                </div>
            </form>
        </div>
        <div class="inline-div admission-form pull-right">
            <h3>
                <button class="btn btn-open" ng-click="Nexttab(view);" ng-disabled="view =='tab-four'">next</button>
            </h3>
        </div>
        <div class="inline-div admission-form pull-left">
            <h3>
                <button class="btn btn-open" ng-click="Previoustab(view);" ng-disabled="view =='tab-one'">previous</button>
            </h3>
        </div>
</section>