<section>
    <div class="welcom-barner-area padding-about">
        <div class="admission-bg" data-stellar-background-ratio="0.5"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="welcome-text text-center">
                        <h1>Admission FAQ</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="admission-top community-bottom">
            <h3 class="pink-color">Admission FAQ</h3>
            <div class="">
                <h3>a. What is the age cut-off for the pre-primary (early years) section?
                </h3>
                <p>Nursery: Students should be three years old by 30th September of their Nursery program school year.</p>
                <p>
                    Junior Kindergarten - Students should be four years old by 30th September of their Junior kindergarten program school year.</p>
                <p> Senior Kindergarten - Students should be five years old by 30th September of their Senior kindergarten program
                    school year.</p>
                <h3>b. Does the school offer transportation?
                </h3>
                <p>Yes, we have a school bus facility. For details on routes, please get in touch with our admission associates.</p>
                <h3>c. What is the class size in each grade level?
                </h3>
                <p>The class size for all our classes is 30. </p>
                <h3>d. What is the co-curricular program that the school offers?
                </h3>
                <p>At ShishuVihar School, our learners will have the opportunity to engage themselves in different forms of
                    art (visual / music / dramatics) and an exclusive STEM Program.</p>
                <h3>e. What are the indoor and outdoor play facilities at ShishuVihar School?
                </h3>
                <p>We have an exclusive indoor play area created specially for our early years and primary section learners.
                    Further, students would have access to sand and water play areas and a central atrium for the PE program.</p>
            </div>
        </div>
    </div>
</section>