<div class="container">
    <flex-slider flex-slide="s in mySlides" prev-text="" next-text="">
        <li>
            <img ng-src="{{s}}" class="img-full">
        </li>
    </flex-slider>
</div>
<!--<swiper autoplay="5000" effect="slide" slides-per-view="1" loop="true">
        <slides>
            <slide ng-repeat="s in mySlides">
                <img ng-src="{{s}}" class="img-full" noloading="true">
            </slide>
        </slides>
        <prev></prev>
        <next></next>
        <pagination></pagination>
    </swiper>-->
<!--<div class="row">
        <div class="col-md-2" ng-repeat="s in mySlides">
            <a ng-href="{{s}}" data-fancybox="group" rel="gallary" fancybox>
                <img ng-src="{{s}}" class="img-full">
            </a>
        </div>
        <div class="col-md-2">
            <a class="various" data-fancybox="group" rel="gallary" href="http://www.youtube.com/embed/L9szn1QQfas?autoplay=1" fancybox><img ng-src="http://img.youtube.com/vi/L9szn1QQfas/maxresdefault.jpg" class="img-full"></a>
        </div>
        <div class="col-md-2">
            <a class="various" data-fancybox="group" rel="gallary" href="https://vimeo.com/191947042" class="img-full"></a>
        </div>
    </div>-->
<section class="about-area section-padding" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="area-title text-center">
                    <h2>Welcome to Our School</h2>
                    <p>Starting with the new school year in our kindergarten</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="about-content">
                    <h3>Overview</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat.</p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident.</p>
                    <a href="#" class="readmore">Readmore</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="right-about-image">
                    <img src="img/about.jpg" alt="" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="facilities-area section-padding" id="promotion">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="area-title text-center">
                    <h2>School Facilities</h2>
                    <p>Starting with the new school year in our kindergarten</p>
                </div>
            </div>
        </div>
        <div class="row no-margin">
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding">
                <div class="single-facilities green-bg padding-20 text-center relative fix">
                    <div class="facilities-icon">
                        <i class="icofont icofont-fast-food"></i>
                    </div>
                    <div class="facilities-details">
                        <h3>Custom Food</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip vut labore et dolore</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding">
                <div class="single-facilities pink-bg padding-20 text-center relative fix">
                    <div class="facilities-icon">
                        <i class="icofont icofont-music-notes"></i>
                    </div>
                    <div class="facilities-details">
                        <h3>Music Lesson</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip vut labore et dolore</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding">
                <div class="single-facilities yellow-bg padding-20 text-center relative fix">
                    <div class="facilities-icon">
                        <i class="icofont icofont-volleyball-alt"></i>
                    </div>
                    <div class="facilities-details">
                        <h3>Many Sports</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip vut labore et dolore</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding">
                <div class="single-facilities dark-bg padding-20 text-center relative fix">
                    <div class="facilities-icon">
                        <i class="icofont icofont-school-bus"></i>
                    </div>
                    <div class="facilities-details">
                        <h3>Bus Service</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip vut labore et dolore</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding">
                <div class="single-facilities blue-bg padding-20 text-center relative fix">
                    <div class="facilities-icon">
                        <i class="icofont icofont-island-alt"></i>
                    </div>
                    <div class="facilities-details">
                        <h3>Excursions</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip vut labore et dolore</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding">
                <div class="single-facilities orange-bg padding-20 text-center relative fix">
                    <div class="facilities-icon">
                        <i class="icofont icofont-globe"></i>
                    </div>
                    <div class="facilities-details">
                        <h3>Language</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip vut labore et dolore</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="team-area gray-bg section-padding" id="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="area-title text-center">
                    <h2>Our Teachers</h2>
                    <p>Professional team that aims to respect your child’s feelings</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                <div class="single-team-member fix text-center">
                    <div class="team-member-img ">
                        <img src="img/teacher/teacher_1.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="member-details">
                        <h3>Angel Di Maria</h3>
                        <p>Assistant Teacher</p>
                        <div class="member-social-bookmark">
                            <ul>
                                <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                                <li><a href="#"><i class="icofont icofont-social-linkedin"></i></a></li>
                                <li><a href="#"><i class="icofont icofont-social-google-hangouts"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                <div class="single-team-member fix text-center">
                    <div class="team-member-img ">
                        <img src="img/teacher/teacher_2.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="member-details">
                        <h3>Albert Cole</h3>
                        <p>Teacher</p>
                        <div class="member-social-bookmark">
                            <ul>
                                <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                                <li><a href="#"><i class="icofont icofont-social-linkedin"></i></a></li>
                                <li><a href="#"><i class="icofont icofont-social-google-hangouts"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                <div class="single-team-member fix text-center">
                    <div class="team-member-img ">
                        <img src="img/teacher/teacher_3.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="member-details">
                        <h3>Fanny Greer</h3>
                        <p>Professor</p>
                        <div class="member-social-bookmark">
                            <ul>
                                <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                                <li><a href="#"><i class="icofont icofont-social-linkedin"></i></a></li>
                                <li><a href="#"><i class="icofont icofont-social-google-hangouts"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                <div class="single-team-member fix text-center">
                    <div class="team-member-img ">
                        <img src="img/teacher/teacher_4.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="member-details">
                        <h3>Rhoda Byrd</h3>
                        <p>Teacher</p>
                        <div class="member-social-bookmark">
                            <ul>
                                <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                                <li><a href="#"><i class="icofont icofont-social-linkedin"></i></a></li>
                                <li><a href="#"><i class="icofont icofont-social-google-hangouts"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="course-area section-padding" id="courses">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="area-title text-center">
                    <h2>Our Courses</h2>
                    <p>Additional courses for your kids</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                <div class="single_courses text-center">
                    <div class="course-cover">
                        <div class="course-bg"></div>
                        <img src="img/course/course_1.jpg" alt="">
                    </div>
                    <div class="course-details">
                        <h3>Water Color</h3>
                        <div class="price-details">
                            <p>80<span>USD</span></p>
                            <p><a href="#">Readmore</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                <div class="single_courses text-center">
                    <div class="course-cover">
                        <div class="course-bg"></div>
                        <img src="img/course/course_2.jpg" alt="">
                    </div>
                    <div class="course-details">
                        <h3>Oil Painting</h3>
                        <div class="price-details">
                            <p>80<span>USD</span></p>
                            <p><a href="#">Readmore</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                <div class="single_courses text-center">
                    <div class="course-cover">
                        <div class="course-bg"></div>
                        <img src="img/course/course_3.jpg" alt="">
                    </div>
                    <div class="course-details">
                        <h3>Biology</h3>
                        <div class="price-details">
                            <p>80<span>USD</span></p>
                            <p><a href="#">Readmore</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                <div class="single_courses text-center">
                    <div class="course-cover">
                        <div class="course-bg"></div>
                        <img src="img/course/course_4.jpg" alt="">
                    </div>
                    <div class="course-details">
                        <h3>Swimming</h3>
                        <div class="price-details">
                            <p>80<span>USD</span></p>
                            <p><a href="#">Readmore</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                <div class="single_courses text-center">
                    <div class="course-cover">
                        <div class="course-bg"></div>
                        <img src="img/course/course_5.jpg" alt="">
                    </div>
                    <div class="course-details">
                        <h3>English</h3>
                        <div class="price-details">
                            <p>80<span>USD</span></p>
                            <p><a href="#">Readmore</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                <div class="single_courses text-center">
                    <div class="course-cover">
                        <div class="course-bg"></div>
                        <img src="img/course/course_6.jpg" alt="">
                    </div>
                    <div class="course-details">
                        <h3>Acrylic Painting</h3>
                        <div class="price-details">
                            <p>80<span>USD</span></p>
                            <p><a href="#">Readmore</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                <div class="single_courses text-center">
                    <div class="course-cover">
                        <div class="course-bg"></div>
                        <img src="img/course/course_7.jpg" alt="">
                    </div>
                    <div class="course-details">
                        <h3>Tennis Practice</h3>
                        <div class="price-details">
                            <p>80<span>USD</span></p>
                            <p><a href="#">Readmore</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                <div class="single_courses text-center">
                    <div class="course-cover">
                        <div class="course-bg"></div>
                        <img src="img/course/course_8.jpg" alt="">
                    </div>
                    <div class="course-details">
                        <h3>Cooking</h3>
                        <div class="price-details">
                            <p>80<span>USD</span></p>
                            <p><a href="#">Readmore</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact-area gray-bg" id="contact">
    <div class="top-contact section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="area-title text-center">
                        <h2>Contact Us</h2>
                        <p>If Need Any Help</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-contact">
                        <div class="contact-icon orange">
                            <i class="icofont icofont-map"></i>
                        </div>
                        <div class="contact-details">
                            <h4>Our Address</h4>
                            <p>525 tenth Avenue, <br> Godson, PS 5945</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-contact">
                        <div class="contact-icon blue">
                            <i class="icofont icofont-smart-phone"></i>
                        </div>
                        <div class="contact-details">
                            <h4>Phone</h4>
                            <p>+1 800 123 45 67 <br> +1 800 123 45 67</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-contact">
                        <div class="contact-icon yellow">
                            <i class="icofont icofont-email"></i>
                        </div>
                        <div class="contact-details">
                            <h4>Email</h4>
                            <p><a href="mailto:yormail@example.com">mail@domain.com</a><br>
                                <a href="mailto:yormail@example.com">mail@domain.com</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-contact">
                        <div class="contact-icon green">
                            <i class="icofont icofont-ui-calendar"></i>
                        </div>
                        <div class="contact-details">
                            <h4>Open Hours</h4>
                            <p>Mn - St: 8:00am <br> 9:00pm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="testmonial-area gray-bg section-padding" id="testmonial">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="area-title text-center">
                    <h2>What Parents Say</h2>
                    <p>Have a look what say our student's parents about us</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="testmonial-slider owl-carousel owl-theme owl-responsive-1200 owl-loaded">
                    <flex-slider flex-slide="s in mySlides" prev-text="" next-text="">
                        <li>
                            <div class="single-testmonial">
							<div class="testmonial-author-details">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
							</div>
							<div class="member-image-and-title">
								 <img ng-src="{{s}}" class="img-full">
								<div class="member-title">
									<h3>David Gondar</h3>
									<p>CEO &amp; Founder</p>
								</div>
							</div>
						</div>
                        </li> 
                    </flex-slider>
                </div>
            </div>
        </div>
    </div>
</section>