<section>
    <!--<flex-slider flex-slide="s in mySlides" prev-text="" next-text="">
        <li>
            <img ng-src="{{s}}" class="img-full">
        </li>
    </flex-slider>-->
    <div class="homeslider" id="sliderhome">
        <flex-slider flex-slide="s in mySlides track by $index" prev-text="" next-text="">
            <li>
                <img ng-src="{{s.img}}" class="img-full" target="">
                <div class="slider-content">
                    <div>
                        <h2>{{s.title1}}</h2>
                        <h3>{{s.title2}}</h3>
                    </div>
                    <h3 class="text-center"><a>Learn More</a></h3>
                </div>
            </li>
        </flex-slider>
    </div>
</section>
<section class="about-area section-padding" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="area-title text-center">
                    <h2>Welcome to ShishuVihar</h2>
                    <!--<p>Starting with the new school year in our kindergarten</p>-->
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="about-content-home">
                    <h3>A School with a difference!</h3>
                    <p class="text-justify">Our educational approach embraces the fact that every learner who comes to our school comes with varied
                        needs, interests and abilities. To meet these and enable students maximize their potential, we believe
                        it is important to encourage the pursuit of academic excellence within a caring environment that
                        promotes each student’s ability and learning style.</p>
                    <p>At ShishuVihar School, our students mean the world to us. Our teachers and administrators are committed
                        to helping each one of them attain their full potential and that objective drives everything we do.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="right-about-image">
                    <img src="img/about.jpg" alt="" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="team-area gray-bg section-padding" id="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="area-title text-center">
                    <h2>School Facilities</h2>
                    <p>Our World of Difference</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12" ng-repeat="T in school_facility track by $index">
                <div class="single-team-member fix text-center">
                    <div class="team-member-img">
                        <img src="{{T.img}}" alt="" class="img-responsive">
                    </div>
                    <div class="member-details">
                        <p><b>{{T.desc}}</b></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!--<section class="facilities-area section-padding" id="promotion">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="area-title text-center">
                    <h2>School Facilities</h2>
                    <p>Our World of Difference</p>
                </div>
            </div>
        </div>
        <div class="row no-margin">
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding">
                <div class="single-facilities green-bg padding-20 text-center relative fix">
                    <div class="facilities-icon">
                        <i class="icofont icofont-fast-food"></i>
                    </div>
                    <div class="facilities-details">
                        <h3>Custom Food</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip vut labore et dolore</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding">
                <div class="single-facilities pink-bg padding-20 text-center relative fix">
                    <div class="facilities-icon">
                        <i class="icofont icofont-music-notes"></i>
                    </div>
                    <div class="facilities-details">
                        <h3>Music Lesson</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip vut labore et dolore</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding">
                <div class="single-facilities yellow-bg padding-20 text-center relative fix">
                    <div class="facilities-icon">
                        <i class="icofont icofont-volleyball-alt"></i>
                    </div>
                    <div class="facilities-details">
                        <h3>Many Sports</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip vut labore et dolore</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding">
                <div class="single-facilities dark-bg padding-20 text-center relative fix">
                    <div class="facilities-icon">
                        <i class="icofont icofont-school-bus"></i>
                    </div>
                    <div class="facilities-details">
                        <h3>Bus Service</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip vut labore et dolore</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding">
                <div class="single-facilities blue-bg padding-20 text-center relative fix">
                    <div class="facilities-icon">
                        <i class="icofont icofont-island-alt"></i>
                    </div>
                    <div class="facilities-details">
                        <h3>Excursions</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip vut labore et dolore</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding">
                <div class="single-facilities orange-bg padding-20 text-center relative fix">
                    <div class="facilities-icon">
                        <i class="icofont icofont-globe"></i>
                    </div>
                    <div class="facilities-details">
                        <h3>Language</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip vut labore et dolore</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
<section class="facilities-area section-padding" id="Our Educational Pillars">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="area-title text-center">
                    <h2>Our Educational Pillars</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding">
                <div class="green-bg text-center education-padd">
                    <h3>International Mindedness</h3>
                    <div class="d-flex education-pillar-home">
                        <p>We celebrate diversity and encourage our students to learn about and respect other people’s cultures
                            and beliefs.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding">
                <div class=" pink-bg text-center education-padd">
                    <h3>Principled</h3>
                    <div class="d-flex education-pillar-home">
                        <p>We aim to develop students who at all times act with integrity and honesty.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding">
                <div class="yellow-bg text-center education-padd">
                    <h3>Compassion</h3>
                    <div class="d-flex education-pillar-home">
                        <p>Our school culture is built around the theme of empathy and respect</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding">
                <div class="dark-bg text-center education-padd">
                    <h3>Responsibility</h3>
                    <div class="d-flex education-pillar-home">
                        <p>We encourage and look forward to our students taking ownership of their own learning.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding">
                <div class="blue-bg text-center education-padd">
                    <h3>Reflective</h3>
                    <div class="d-flex education-pillar-home">
                        <p>Our students are concerned with the process as much as the end product of their learning. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding">
                <div class="orange-bg  text-center education-padd">
                    <h3>Innovative</h3>
                    <div class="d-flex education-pillar-home ">
                        <p>Our teaching pedagogy and assessment aims to enable students apply their learning in familiar as
                            well as unfamiliar contexts.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="course-area section-padding" id="courses">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="area-title text-center">
                    <h2>Our Academic Programme</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="">
                    <h3>Early Years Curriculum</h3>
                </div>
                <div class="">
                    <p>Our early years curriculum comprises the following classes: Nursery – Junior Kindergarten – Senior Kindergarten.
                        The Early Years Program (EYP) consists of the first years of school life (ages 3 to 5). In the EYP,
                        we aim to provide a safe and stimulating environment focusing on discovering and transdisciplinary
                        learning wherein children can develop socially, emotionally, creatively, physically and academically.</p>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="">
                    <h3>Primary School Curriculum</h3>
                </div>
                <div class="">
                    <p>The Primary School comprises Grades 1 to 5. In this section, children follow the Cambridge Primary Curriculum
                        covering a wide range of subjects including Mathematics, English, Hindi, Marathi, Science, Humanities,
                        ICT (Computers), Visual Arts, Music and Physical Education. </p>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</section>
<section class="contact-area gray-bg" id="contact">
    <div class="top-contact section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="area-title text-center">
                        <h2>Contact Us</h2>
                        <p>If Need Any Help</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-contact">
                        <div class="contact-icon orange">
                            <i class="icofont icofont-map"></i>
                        </div>
                        <div class="contact-details">
                            <h4>Our Address</h4>
                            <p>Regus, Office No 1143,<br> 11 th Floor, Tower B, <br>Peninsula Business Park, Lower Parel, Mumbai
                                – 400 013.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-contact">
                        <div class="contact-icon blue">
                            <i class="icofont icofont-smart-phone"></i>
                        </div>
                        <div class="contact-details">
                            <h4>Phone</h4>
                            <p>+91 8652000063</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-contact">
                        <div class="contact-icon yellow">
                            <i class="icofont icofont-email"></i>
                        </div>
                        <div class="contact-details">
                            <h4>Email</h4>
                            <p><a href="info@shishuviharindia.com">info@shishuviharindia.com</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-contact">
                        <div class="contact-icon green">
                            <i class="icofont icofont-ui-calendar"></i>
                        </div>
                        <div class="contact-details">
                            <h4>Open Hours</h4>
                            <p>8.30 a.m. to 12.30 p.m</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15084.968121528249!2d72.86914420000001!3d19.053093399999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1514445368557"
            width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</section>