<div class="container-fluid green-bg">
    <div class="close-modal" ng-click="$dismiss()">
        <i class=" fa fa-times-circle " aria-hidden="true "></i>
    </div>
    <div class="modal-padding text-justify">
        <div class="game-content">
        <h5>The Arts</h5>
        <p>The school offers a wide ambit of art programmes – from visual art to music to dramatics. Through the arts we actively
            stimulate innovative thinking and problem-solving skills that enrich personal growth. We also give students a
            foundation in creative expression that will allow them to take full advantage of new learning opportunities,
            and showcase their ability.</p>
        </div>
        <div class="quotes-main text-center">
            <h4>Art is not what you see, but what you make others see.</h4>
            <p class="text-right">-Edgar Degas</p>
            <div class="quotes-top">
                <i class="fa fa-quote-left" aria-hidden="true"></i>
            </div>
             <div class="quotes-bottom">
                <i class="fa fa-quote-right" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>