<div class="modal-body s text-center">
    <div class="container-fluid ">
        <div class="start-msg">
            <div class="close-modal" ng-click="$dismiss()">
                <i class=" fa fa-times-circle " aria-hidden="true "></i>
            </div>
            <p class="section-padding15 info">To know more about our school, we invite you for a parent information morning for admissions to Nursery, Junior
                Kg, Senior Kg and Grade 1 for the academic year 2018-19.</p>
            <ul class="section-padding15 list-unstyled blue-color date-info">
                <li>Day & Date – Sunday, 14th January 2018</li>
                <li>Venue – CJs Ballroom, ITC Grand Central, Parel</li>
                <li>Timing – 10.30 a.m.</li>
            </ul>
            <div>
            </div>
            <ul class="list-unstyled contact-us">
                <li><small>Limited Seats Available </small></li>
                <li><small>To register please contact us on 8652000063
</small></li>

            </ul>
        </div>
    </div>
</div>