<div class="container-fluid pink-bg">
    <div class="close-modal" ng-click="$dismiss()">
        <i class=" fa fa-times-circle " aria-hidden="true "></i>
    </div>
    <div class="modal-padding text-justify">
        <div class="game-content">
            <h5>STEM</h5>
            <p>STEM education is a term used to refer collectively to the teaching of the disciplines within its teaching umbrella,
                science, technology, engineering and mathematics, and also to a cross-disciplinary approach to teaching that
                increases student interest in STEM-related fields.</p>
            <p>Teaching STEM in the early and primary years opens the door for our students to become tomorrow’s movers and
                shakers. Young children with a strong foundation in science, technology, engineering and mathematics will
                go on to play an integral role in our nation’s global competitiveness and economic stability. Teachers can
                foster critical thinking through problem solving in elementary & primary STEM education and provide students
                with an academic edge over the competition. </p>
            <p>At ShishuVihar School all our students shall participate in STEM education equivalent to one teaching period
                per week. Classes will utilise different areas within the school for this purpose.</p>
        </div>
        <!--<div class="quotes-main text-center">
            <h4>Art is not what you see, but what you make others see.</h4>
            <p class="text-right">-Edgar Degas</p>
            <div class="quotes-top">
                <i class="fa fa-quote-left" aria-hidden="true"></i>
            </div>
            <div class="quotes-bottom">
                <i class="fa fa-quote-right" aria-hidden="true"></i>
            </div>
        </div>-->
    </div>
</div>